<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title>To-Do App</title>
     <style>
          body {
               margin: 0;
               font-family: Arial, sans-serif;
               background-color: #f8f9fa;
          }
          
     </style>
</head>

<body>

     <nav class="navbar">
          <div class="brand">CR Pvt. Ltd.</div>
          <button class="btn">+ Add Task</button>
     </nav>

</body>

</html>